# Database
DATABASE_URL="postgresql://..."

# Auth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_GOOGLE_ID="..."
AUTH_GOOGLE_SECRET="..."

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_..."
STRIPE_SECRET_KEY="sk_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# File Upload
UPLOADTHING_SECRET="..."
UPLOADTHING_APP_ID="..."

# Email
RESEND_API_KEY="re_..."
EMAIL_FROM="orders@teressastreasures.com"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
